/* line 4, ../sass/screen.scss */
* {
  background-repeat: no-repeat;
}

/* line 8, ../sass/screen.scss */
body {
}

html {
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 10px;
}

.backimage {
    background: white;
      background: url('../assets/SD_lowres_12.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 100% !important;

}

.navhome {
    background: rgba(255,255,255,0.7);
    background-color: none;
    margin-bottom: 0px;
    border: none;
    border-radius: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    top: 400px;
    left: 0;
}

.navtop {
    background: rgba(255,255,255,0.7);
    background-color: none;
    margin-bottom: 0px;
    border: none;
    border-radius: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    top: 0px;
    left: 0;
}

.nav-name {
    padding-top: 15px;
    padding-left: 15px;
    display: block;
}

.navbar-brand {
    font-family: 'autour_oneregular', sans-serif;
}



.navbar .navbar-header .navbar-brand {
    color: #2c1570;
    font-size: 2em;
}

.navbar .navbar-header .brand-color {
    color: #FF0099;
}

.tour-table {
    max-width: 800px;
    margin: 0 auto;
}

.videothumb {
    margin-bottom: 20px;
    margin-left: 20px;
    float: left;
}

.video {
    max-width: 500px;
    margin: 0 auto;
}

.icons {
    position: absolute;
    top: 40px;
    right: 30px;
}

.fa {
    color: rgba(0,0,0,0.3);
    font-size: 2.3em;
    margin-right: 8px;
}

#nav-social-icons {
    margin-right:20px;
    margin-top: 10px;
}

#nav-social-icons a {
    padding: 0px;
}


.headline-div {
    height: 200px;
    width: 100%;
    background-image: url('../assets/SD_lowres_54.jpg');
    background-size: 1572px auto;
    background-position: -100px -630px;
    background-repeat: no-repeat;
    margin-bottom: 25px;
}

.video-headline-image {
    background-image: url('../assets/SD_lowres_30.jpg');
    background-position: -300px -360px;
}

.tour-headline-image {
    background-image: url('../assets/SD_lowres_17.jpg');
    background-position: -200px -900px;
}

.about-headline-image {
    background-image: url('../assets/SD_kitty_1.jpg');
    background-position: -200px -850px;
}

.artwork-headline-image {
    background-image: url('../assets/SD_lowres_keyboard.jpg');
    background-position: -200px -1000px;
}

.whitecover {
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.6);
}

.page-headline {
    font-family: 'grutchshadedregular';
    font-size: 6em;
    text-align: center;
    padding: 40px;
    color: black;
}


.slide-container {
    width: 400px;
}

.slide-container .bxslider li {
    margin:0 auto;
    width: 100%;
}

.music-content {
    width: 60%;
    margin: 0 auto;
}

.music-album {
    margin-bottom: 15px;
}

.about-text {
    width: 50%;
    margin: 0 auto;
}

.contact-body {
    margin: 0;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on December 14, 2013 */

@font-face {
    font-family: 'autour_oneregular';
    src: url('../fonts/autourone-regular-webfont.eot');
    src: url('../fonts/autourone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/autourone-regular-webfont.woff') format('woff'),
         url('../fonts/autourone-regular-webfont.ttf') format('truetype'),
         url('../fonts/autourone-regular-webfont.svg#autour_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'grutchshadedregular';
    src: url('../fonts/GrutchShaded-webfont.eot');
    src: url('../fonts/GrutchShaded-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GrutchShaded-webfont.woff') format('woff'),
         url('../fonts/GrutchShaded-webfont.ttf') format('truetype'),
         url('../fonts/GrutchShaded-webfont.svg#grutchshadedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

